*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
}

                            /*HEADER*/
#header{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/background-img.png);
    background-position: 820px;
    background-size: 300px;
    background-repeat: no-repeat;
    
}
.container{
    padding: 5px 10%;
}
.logo{
    margin: 0;
    width: 140px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    justify-content: space-around;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(31, 31, 226);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    
}
.header-text h1 span{
    color: blue;
}

                            /*ABOUT*/
#about{
    padding: 80px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 15px 0;
    font-size: 15px;
}
.tab-contents{
    display: none;
} 
.tab-contents.active-tab{
    display: block;
}
.icons{
    color: white;
}

.containers{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

/*services*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: rgb(36, 36, 180);
    transform: translateY(-10px);
}

/*PORTFOLIO*/
#portfolio{
    padding: 50px 0;
    margin-top: 90px;
}
#img1{
    margin-top: 20px;
    padding: 20px 10px;
    background: #262626;
    border-radius: 10px;
    transition: transform 0.5s;
    width: 500px;
    padding: 20px;
    transition: .5s ease;
    backface-visibility: hidden;
}
#img1:hover{
    background: rgb(36, 36, 180);
    transform: translateY(-10px);
    opacity: 0.3;
}
.pack{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-gap: 40px;
}
.images{
    position: relative;
}

.images:hover .middle{
    opacity: 1;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(rgba(69, 57, 119, 0.6), rgba(69, 57, 119, 0.6));
    border-radius: 10px;
    
}
.design{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-gap: 40px;
}
.design #img1{
    width: 300px;
    margin: 0px 0px;
    
}
.design #img2{
    padding: 20px 10px;
    background: #262626;
    border-radius: 10px;
    transition: transform 0.5s;
    width: 320px;
    height: 375px;
    padding: 20px;
}
#img2:hover{
    background: rgb(36, 36, 180);
    transform: translateY(-10px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid rgba(124, 103, 210, 0.6);
    border-radius: 7px;
    padding: 14px 50px;
    color: white;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover{
    background: rgba(39, 23, 101, 0.6);
}


/*contact*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px; 
}
.contact-left p i{
    color: rgba(7, 31, 218, 0.6);
    margin-right: 15px;
    font-size: 21px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:rgb(31, 31, 226);
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: rgba(7, 31, 218, 0.6);
    transition: transform 0.5s;
}
.btn.btn2:hover{
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #f6f4f4;
    padding: 15px;
    margin: 15px 0;
    color: #171717;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgba(56, 75, 221, 0.6);
    font-weight: 300;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#copy{
    margin-left: 26%;
}
.copyright i {
    color: rgb(1, 1, 121);
}
.arrow{
    font-size: 35px;
}
#msg{
    color: #5484e4;
    margin-top: -40px;
    display: block;
}

/*css for small screen*/
@media only screen and(max-width: 640px){
    #header{
        background-image: url(./assets/background-img.png);
    }
}
@media only screen and(max-width: 1007px){
    #header{
        background-image: url(./assets/background-img.png);
    }
}

    
